.heading {
    
    &--h1{
        color: $white;
        font-size: $font-base * 9;
    }
    &--h2{
        font-size: $font-base * 4.5;
        width: 100%;
        text-align: center;
        padding: $grid-base *2;
        
    }
    &--h3{
        font-size: $font-base * 2.5;
        // line-height: $font-base;
        width: 100%;
        text-align: center;
        font-weight: 300;
    }
}