.main {

    &__button {
        position: absolute;
        // width: 60%;
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;
        // margin-top: $grid-base * 3;
    }

    &__p {
        text-align: center;
        padding: $font-base;

        &__bold{
            font-weight: bold;
        }
    }

    

}
